<div class="container">
<div class="header">
  <h1><%= link_to 'Serious Articles', articles_path, {:id => "header"} %> </h1>
  <%= button_to "Create new article", new_article_path, method: :get %>
</div>
</div>
