// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  background-color: #353535;
  padding-top: 15px;
}

#header {
  color: white;
  text-decoration: none;
}

.title {
  font-weight: 700;
  color: white;
}

.container {
  text-align: center;
}

.text-center {
  text-align: center;
}

h1, p, body {
  font-family: 'Avenir', sans-serif;
}

.left {
  text-align: right;
}

